# This file specifies which files and directories should be ignored by git.
# It helps to avoid committing unnecessary or sensitive files to the repository. Here is a breakdown of the sections in your `.gitignore` file:

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Microsoft Teams app files created upon build
appPackage/manifest.json
appPackage/teams-meeting-side-panel.zip

# Private files
private/